*{
font-family: 'Poppins', sans-serif;
}
.fondo{
   background-color:  #ffff;
}
.body{
    background-color: #ffff;
}
.barra-ul{
    background: linear-gradient( rgb(17, 17, 17) 10%, rgba(2, 11, 14, 0.685) 100%);
    padding: 10px 0;
    width: 98%;
    position: fixed;
    top: 5px;
    z-index: 1500;
    border-radius: 15px;
    justify-content: space-between;
    padding: 30px 50px;
}
.imagen-titulo{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 50px;
}
.imagen-titulo img{
    margin-right: 20px;
    width: 50px;
    height: 50px;
}
.pestañas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#radio-area{
    width: 50px;
}
#centro-area-lng, #centro-area-lat{
    width: 150px;
}
.contacto{
    position:absolute;
    bottom:5px;
    right:10px;
}
.a-info img, .a-info-live img{
    width: 20px;
    height: 20px;
}
.a-info-live{
    margin: 5%;
}
.div-info, .div-info-live{
    position: absolute;
    background:  rgb(17, 17, 17, 0.9);
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    z-index: 1500;
    text-align: justify;
    visibility: hidden;
    font-size: 18px;
}
.div-info{
    top: 130px;
    left: 370px;
}
.div-info-live{
    bottom: 12%;
    left: 7%;
}
.a-info:hover .div-info, .a-info-live:hover .div-info-live{
    visibility: visible;
}
.parte2{
    padding: 10px 50px;
    font-size: 18px;
}
.slider{
    width: 20vw;
    cursor: pointer;
    opacity: 0.7;
}
.slider:hover{
    opacity: 2;
}
.calendarios-selectores{
    margin: 0 50px;
}
.d-flex.flex-wrap input{
    margin-left: 20px;
    margin-right: 10px;
    font-size: 18px;
}
.selectores{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-items: center;
    padding: 20px 0;
    font-size: 18px;
}
.bajar-map, .bajar p{
    padding-top: 120px;
}
.footer{
    background: linear-gradient( rgb(17, 17, 17) 10%, rgba(2, 11, 14, 0.685) 100%);
    padding: 0px;
    margin: 10px;
    border-radius: 15px;
    display: grid;
    place-items: center;
}
.footer ul{
    margin: 15px;
    padding: 0;
}
.footer a{
    padding: 0 20px;
}
.footer img{
    width: 40px;
    height: 40px;
}
.boo{
    bottom: 0px;
}
